# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# [TODO] Temporarily disabled since production build is failing.
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# db
wacai.db
test.db
/backupData

# log
/log

# wacai
/server/token.txt

# env
.env
.env.test

# IDE
.vscode/

# storybook
.story

# test comps
# *test*