@import '../../colors.scss';

.AdvancedSearch {
  .AdvancedSearch-Toolbar {
    padding: 0 10px;
    .SubmitButton {
      width: 80px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      margin: 5px 0;
      border: 1px solid $GREY-LIGHT-IIII;
      border-radius: 5px;
      float: right;
    }
    .clearFloat {
      clear: right;
    }
  }
  .AdvanceSearchItem-Container {
    padding: 0 10px;
  }
}