@import '../../colors.scss';

.AdvanceSearchItem {
  border-bottom: 1px solid $GREY-LIGHT-IIII;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  .ItemName {
    span {

    }
  }
  .ItemOption {
    max-width: 50%;
    text-align: right;
    .ItemOption-Container {
      display: flex;
      .ItemSelectedValue {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        max-width: 95%;
        padding-right: 5px;
        color: $GREY-LIGHT-I;
      }
      .ItemSelectionButton {

      }
    }
  }

  &.AdvanceSearchItem-NoBottomBorder {
    border-bottom: 0px;
  }
}