.FinMain {
  .App-Toolbar {
    position: absolute;
    top: 46vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .App-Toolbtn {
      display: inline-block;
      height: 60px;
      width: 90%;

      .App-Btn {
        display: inline-block;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 60px;
        color: #FFF;
        font-family: 'HelveticaNeue', 'Monaco';
      }

      .App-CreateItem {
        background: linear-gradient(to left, #bd6035, #c28062);
        width: 60%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &:active, &:focus {
          background: linear-gradient(to left, #bd5b2e, #bd5b2e);
        }
      }
      .App-CreateFast {
        background: linear-gradient(to left, #bb4c18, #bd6035);
        width: 40%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -1px;
        &:active, &:focus {
          background: linear-gradient(to left, #bd4913, #bb4c18);
        }
      }
    }
  }
  .App-Container {
    padding-top: 10px;
  }
}