@import './loading-state.scss';
@import '../../colors.scss';

.DayExpense--Loading {
  border-bottom: 1px solid $GREY-LIGHT-II;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;

  .LoadingState {
    @include nameAnimated();
    border-radius: 3px;
    height: 100%;
  }

  .DayInfo {
    width: 40px;
    box-sizing: border-box;
    padding: 1px 2px;
    .LoadingState {
      height: 20px;
    }
  }
  .DayExpenseInfo {
    padding-right: 10px;
    flex-grow: 1;
    padding: 1px 2px;
    .DayHeader {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      .DayHeader-Weekday, .DayExpenseAmount {
        box-sizing: border-box;
        width: 100px;
        .LoadingState {
          height: 15px;
        }
      }
    }
    .DayExpenseList {
      .FinListItem--LoadingState {
        clear: both;
      }
    }
  }

  .FinListItem--LoadingState:first-of-type {
    height: 75px;
    border-bottom: 1px solid $GREY-REGULAR;
  }
}