.HeaderToolbar {
  .HeaderToolbar-Container {
    display: flex;
    height: 40px;
    padding-right: 10px;
    .CloseBtn {
      flex-grow: 1;
      background-image: url('./close.png');
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .BarInfo {
      flex-grow: 1;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      line-height: 40px;
    }
    .ToolBtns {
      flex-grow: 1;
      display: flex;
      flex-direction: row-reverse;
      .SearchBtn {
        flex-grow: 1;
        background-image: url('./search.svg');
        background-position: right center;
        background-size: 30px;
        background-repeat: no-repeat;
      }
    }
  }
}