@import '../../colors.scss';

.InputContainer {
  border-bottom: 1px solid $GREY-LIGHT-II;
  width: 100%;
  input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    inline-size: 100%;
    text-indent: 25px;
    font-size: 16px;
    outline: none;
    border: 0;
    padding: 0;
    background: transparent;
  }
}