@import '../../colors.scss';

.DayExpense {
  border-bottom: 1px solid $GREY-LIGHT-II;
  .DayExpense-Container {
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    .DayInfo {
      width: 40px;
      text-align: center;
      font-size: 20px;
      letter-spacing: 1px;
      color: $GREY-REGULAR;
      font-weight: bold;
    }
    .DayExpenseInfo {
      padding-right: 10px;
      flex-grow: 1;
      .DayHeader {
        display: flex;
        justify-content: space-between;
        color: $GREY-REGULAR;
        font-size: 15px;
        .DayHeader-Weekday {
          font-weight: bold;
        }
      }
    }
  }
}