@import '../../colors.scss';

.MonthExpense {
  .MonthExpense-Container {
    background-color: $GREY-LIGHT-IIII;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    &.MonthExpenseBorder {
      border-bottom: 1px solid $GREY-LIGHT-III;
    }
    .MonthTitle {
      width: 30px;
      padding: 5px 5px;
      text-align: center;
      .Month {
        color: $GREY-REGULAR;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        padding: 2px 0;
        letter-spacing: 1px;
      }
      .Year {
        color: $GREY-LIGHT-I;
        font-size: 12px;
        line-height: 12px;
        padding: 2px 0;
      }
    }
    .MonthExpense {
      flex-grow: 10;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ExpenseTitle {
        padding: 2px 0;
        color: $EXPENSE-FONT;
        font-size: 14px;
        line-height: 14px;
      }
      .ExpenseAmount {
        padding: 3px 0;
        .AmountBar {
          height: 2px;
          background-color: $EXPENSE-FONT;
          vertical-align: middle;
        }
      }
    }
    .MonthExpense-Dropdown {
      width: 30px;
      background-image: url('./arrow.svg');
      background-position: center;
      background-size: 10px;
      background-repeat: no-repeat;
      transition: 0.2s linear;
      &.MonthExpense-Expanded {
        transform: rotate(90deg);
      }
    }
  }
}