// Brand colors RGBA
$sh-rgba-darkblue: rgba(2,39,85,1);
$sh-rgba-lt-darkblue: rgba(3,54,120,1);
$sh-rgba-lightblue: rgba(21,120,184,1);
$sh-rgba-lt-lightblue: rgba(35,145,219,1);
$sh-rgba-orange: rgba(218,86,0,1);
$sh-rgba-lt-orange: rgba(230,115,14,1);

// Brand colors Hex
$sh-hex-darkblue: #003F87;
$sh-hex-lt-darkblue: #033678;
$sh-hex-lightblue: #1578b8;
$sh-hex-lt-lightblue: #2391db;
$sh-hex-orange: #db5700;
$sh-hex-lt-orange: #e6730e;

// Grays
$gray_bg: #f1f1f1;
$sh-gunmetal-dark: #2a2e2f;
$sh-gunmetal-light: #3c4043;

$sh-darkgrey: #333333;
$sh-md-darkgrey: #4d4d4d;
$sh-md-lightgrey: #262626;
$sh-lightgrey: #919191;
$sh-light-grey: #bdbdbd;

$gray_font: #c4c4c4;
$faded_gray: rgba(196,196,196,.5);
$faded_blue: rgba(255,255,255,.2);
$gray_border: #d6d6d6;
$dark_bg: #1b1b1b;
$light_gray_font: #cdcccb;
$dk_gray_border: #444444;

$white: #fff;
$black: #000;

$sh-hex-brandblue: #00336C;
$sh-hex-brandorange: #F26516;

.hidden {
    display: none;
}
