@import '../../colors.scss';
@import '../../common.scss';

$CALCULATOR-RED: #D40740;
$CALCULATOR-NUMBER-FONT: DigitalMono, Osaka, monaco, sans-serif;
$CALCULATOR-BUTTON-FONT: sans-serif;

.Calculator {
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .NumberContainer {
    text-align: right;
    height: 15vh;
    line-height: 21vh;
    font-family: $CALCULATOR-NUMBER-FONT;
    font-size: 3.5em;
    color: $WHITE;
    background-color: $CALCULATOR-RED;
    padding-right: 10px;
    margin: 5px 1%;
  }
  .OperatorContainer {
    .OperatorRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .OperatorItem {
        @extend .forbid-select;
        // border: 1px solid $GREY-LIGHT-IIII;
        // border-radius: 5px;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        width: 24%;
        margin: 5px 1%;
        font-family: $CALCULATOR-NUMBER-FONT;
        font-weight: bold;
        text-align: center;
      }
      .Operand {
        color: $CALCULATOR-RED;
        font-family: unset;
        &.Clear {
          font-family: $CALCULATOR-NUMBER-FONT;
        }
      }
      .OperatorItem--TwoSpan {
        width: 50%;
      }
      .ConfirmBtn {
        font-size: 16px;
        color: $WHITE;
        font-family: $CALCULATOR-BUTTON-FONT;
        background-color: $CALCULATOR-RED;
      }
      .Backspace {
        background-image: url('./backspace-red-bold.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}