@import '../../colors.scss';
@import '../../../node_modules/react-datetime/css/react-datetime.css';

.FinItemDetails {
  background-color: transparent; // test
  .Fin-Nav {
    position: relative;
    height: 30px;
    .Fin-Nav-Out {
      line-height: 30px;
      font-size: 14px;
      font-weight: bold;
      color: #FFF;
      text-indent: 25px;
    }
    .Fin-Nav-Arrow {
      position: absolute;
      bottom: 0;
      left: 39px;
      transform: translateX(-50%);

      border-top: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #FFF;
    }
  }
  .Fin-WhiteBack {
    background-color: rgba($color: #FFF, $alpha: 0.98);
    padding: 0 10px;
  }

  .Fin-Header {
    height: 60px;
    line-height: 60px;
    .Fin-SubCat {
      text-indent: 40px;
      float: left;
      padding: 5px 0;
      background-image: url('./category.png');
      background-size: 30px;
      background-position-y: center;
      background-repeat: no-repeat;
      .Category {
        font-size: 12px;
        line-height: 25px;
      }
      .SubCategory {
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
      }
    }
    .Fin-Amount {
      float: right;
      input {
        inline-size: 200px;
        text-align: right;
        font-size: 24px;
        color: red;
        font-weight: bold;
        outline: none;
        border: 0;
        background: transparent;
      }
    }
  }
  .Fin-ComCats {
    .Fin-ComCat-Container {
      height: 120px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // border-top: 1px dashed $GREY-LIGHT-II;
      // border-bottom: 1px dashed $GREY-LIGHT-II;
      .Fin-ComCat {
        display: inline-block;
        width: 100px;
        line-height: 60px;
        margin: 0 5px;
        @media screen and (max-width: 321px) {
          width: 80px;
        }
      }
    }
  }
  .Fin-Comment {
    height: 50px;
    line-height: 50px;
  }
  .Fin-Date {
    height: 30px;
    line-height: 30px;
    input {
      outline: none;
      border: 0;
      font-size: 16px;
    }
  }

  .Fin-Toolbar {
    padding: 20px 0;
    .Fin-Btns {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
      .Fin-Btn {
        border: 1px solid $GREY-LIGHT-II;
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        min-width: 80px;
        text-align: center;
      }
    }
  }

  .PopupButtons--Container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }
}