@import '../../colors.scss';

.CreateTemplate {
  .CreatePanel {
    padding: 0 10px;
    .Fin-SubCat {
      height: 60px;
      line-height: 60px;
      text-indent: 40px;
      padding: 5px 0;
      background-image: url('./category.png');
      background-size: 30px;
      background-position-y: center;
      background-repeat: no-repeat;

      font-size: 16px;
    }
    .Fin-Comment, .Fin-Place, .Fin-City {
      height: 50px;
      line-height: 50px;
      .CommentInput, .PlaceInput, .CityInput {
        width: 100%;
        outline: none;
        font-size: 16px;
        border: 0;
        background: transparent;
      }
    }
    .Fin-Toolbar {
      padding: 10px 0;
      .Fin-Btns {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        .Fin-Btn {
          border: 1px solid $GREY-LIGHT-II;
          border-radius: 5px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          font-weight: bold;
          min-width: 80px;
          text-align: center;
        }
      }
    }
  }
}