@import '../../colors.scss';

.FinItemPanel {
  &:active {
    background-color: $GREY-LIGHT-III;
  }
  .FinItem {
    height: 75px;
    padding: 5px 0;
    &.FinItem-Border {
      border-bottom: 1px solid $GREY-REGULAR;
    }
    .Fin-Left {
      float: left;
      .Fin-SubCat {
        line-height: 30px;
        font-size: 18px;
        font-weight: bold;
      }
      .Fin-Info {
        line-height: 20px;
        font-size: 14px;
        color: $GREY-REGULAR;
      }
      .Fin-Comment {
        margin-top: 5px;
        .Fin-IsScheduled {
          border: 1px solid $GREY-REGULAR;
          border-radius: 2px;
          padding: 1px 2px;
          margin-right: 5px;
        }
      }
    }
    .Fin-Right {
      float: right;
      line-height: 50px;
      font-size : 20px;
      color: red;
      font-weight: bold;
    }
  }
}