@import "../../colors.scss";

.BottomDrawer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -10px 10px $GREY-REGULAR;
  background-color: $WHITE;
  .Handle {
    width: 120px;
    height: 6px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: $GREY-REGULAR;
    cursor: pointer;
  }
  .Content {
    position: relative;
    transition: height .2s linear;
  }
}
