@import '../../colors.scss';

.FinCatSubCat {
  height: 100vh;
  background-color: $GREY-LIGHT-IIII;
  .FinCatSubCat-Container {
    display: flex;
    .Cats {
      flex-grow: 1;
      .CatItem {
        height: 60px;
        position: relative;
        .CatItem-Border {
          line-height: 60px;
          font-size: 16px;
          text-align: center;
        }
        .CatItem-Border-Selected {
          color: red;
          &::after {
            content: '';
            border-left: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 7px solid #FFF;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .SubCats {
      flex-grow: 4;
      background-color: #FFF;
      .SubCatItem {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        padding: 0 10px;
        .SubCat-Border {
          border-bottom: 1px solid $GREY-LIGHT-III;
        }
      }
    }
  }
}