@import './font.scss';

.App {
  height: 100vh;
  overflow-x: hidden;
  position: relative;

  .App-Page-Notification {
    width: 80%;
    position: absolute;
    z-index: 1000;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .App-Page-Loading {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.96);
    .LoadingContainer {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .Loading {
        margin: 0 auto;
      }
    }
  }

  .App-Page-Cat-Selection {
    position: relative;
    opacity: 1;

    animation-name: fadeInLeftOpacity;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.2s;

    @keyframes fadeInLeftOpacity {
      0% {
        opacity: 0;
        left: 240px;
      }
      100% {
        opacity: 1;
        left: 0px;
      }
    }
  }

  .App-Page-Fin-History {
    position: relative;
    opacity: 1;

    animation-name: fadeInTopOpacity;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.2s;

    @keyframes fadeInTopOpacity {
      0% {
        opacity: 0;
        top: 100px;
      }
      100% {
        opacity: 1;
        top: 0px;
      }
    }
  }

  .App-Page-Fin-Template-List {
    position: relative;
    opacity: 1;

    animation-name: fadeInLeftOpacity;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.2s;
  }

  .App-Page-Main {
    $LOGOUT-BUTTON-SIZE: 30px;
    max-height: 100%;
    .App-Logout {
      background-image: url('./logout-red.png');
      width: $LOGOUT-BUTTON-SIZE;
      height: $LOGOUT-BUTTON-SIZE;
      background-size: $LOGOUT-BUTTON-SIZE;
      position: absolute;
      z-index: 5;
      left: 20px;
      top: 40px;

      cursor: pointer;
    }
    .App-Header {
      height: 50vh;
      margin-bottom: 30px;
      position: relative;

      background-image: url('./fin-l.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;

      @media screen and (max-height: 800px) {
        background-position-y: -46px;
      }

      .Header-Text {
        padding-top: 20px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
      }
      .Header-MonthTotal, .Header-WeekDayTotal {
        position: absolute;
        bottom: 40px;
        left: 20px;
        font-size: 17px;
        color: #FFF;
        font-weight: bold;

        .Caption {
          font-size: 12px;
        }
        .Amount {
          font-size: 20px;
        }
      }

      .Header-WeekDayTotal {
        bottom: 205px;
      }
    }
    .App-FinDetails {
      position: relative;
      top: -240px;
      z-index: 10;

      opacity: 1;
      animation-name: fadeInUpOpacity;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 0.2s;

      @media screen and (max-height: 800px) {
        top: -210px;
        animation-name: fadeInUpOpacityBig;
      }

      @keyframes fadeInUpOpacity {
        0% {
          opacity: 0;
          top: 0px;
        }
        100% {
          opacity: 1;
          top: -240px;
        }
      }

      @keyframes fadeInUpOpacityBig {
        0% {
          opacity: 0;
          top: 0px;
        }
        100% {
          opacity: 1;
          top: -210px;
        }
      }
    }
  }
}