.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .App-Header {
    height: 50vh;
    margin-bottom: 30px;
    position: relative;

    background-image: url('./fin-l.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    @media screen and (max-height: 800px) {
      background-position-y: -46px;
    }

    .Header-Text {
      padding-top: 20px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .Header-MonthTotal {
      position: absolute;
      bottom: 40px;
      left: 20px;
      font-size: 17px;
      color: #FFF;
      font-weight: bold;

      .Caption {
        font-size: 12px;
      }
      .Amount {
        font-size: 20px;
      }
    }
  }
  .App-FinDetails {
    position: relative;
    top: -240px;
    z-index: 10;
  }
}