$GREY-REGULAR: rgb(141, 140, 140);
$GREY-LIGHT-I: rgb(170, 170, 170);
$GREY-LIGHT-II: rgb(190, 190, 190);
$GREY-LIGHT-III: rgb(199, 197, 197);
$GREY-LIGHT-IIII: rgb(240, 240, 240);

// Font color
$EXPENSE-FONT: red;