@font-face {
  font-family: 'DigitalRegular';
  src: url('./fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalItalic';
  src: url('./fonts/digital-7(italic).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalMono';
  src: url('./fonts/digital-7(mono).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalMonoItalic';
  src: url('./fonts/digital-7(mono+italic).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}