@import '../../colors.scss';

.FinComCatItem {
  padding: 2px;
  text-align: center;
  border: 1px solid $GREY-LIGHT-II;
  border-radius: 5px;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}