@import '../../colors.scss';

.Login {
  .LoginContainer {
    border: 1px solid $GREY-LIGHT-II;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    .UsernameInput {
      height: 40px;
      line-height: 40px;
      .Username-Image {
        padding-left: 30px;
        background-image: url('./username.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 10px center;
      }
    }
    .PasswordInput {
      height: 40px;
      line-height: 40px;
      .Password-Image {
        padding-left: 30px;
        background-image: url('./password.png');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 10px center;
      }
    }
    input {
      inline-size: 200px;
      text-indent: 10px;
      font-size: 16px;
      outline: none;
      border: 0;
      @media screen and (min-width: 330px) {
        inline-size: 250px;
      }
    }
  }
  .ButtonGroup {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    .SubmitButton {
      width: 100px;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      font-family: 'HelveticaNeue', 'Monaco';
      border: 1px solid $GREY-LIGHT-II;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}